{% extends "blog/base.html" %}

{% block title %}
    <title>AboutMe</title>
{% endblock %}

{% block content %}
    <section class="mysection" style="animation: fuxiasuo 0.8s;">
    <div class="arclist">
        <ul>
            <li>
                <h3>
                    这个项目实现功能如下：
                </h3>
                <p>1.博客基本功能，比如文章的展示，索引，归档。</p>
                    <p>2.基于ajax的评论提交与页面刷新。</p>
                <p>3.admin后台集成markdown语法编辑器，前台markdown语法过滤，语法高亮。</p>
                <p>4.博客作为个人博客使用，记录开发过程的debug。</p>
            </li>
            <li>
                <h3>
                    关于我：
                </h3>
                <p>一个python学习了没多久的新人，目前仍在积极学习中，积极寻找实习工作，完善自我。</p>
                <p>后续会不断发现并升级本项目。（ps：在有一定水平之后）</p>
                <p>wang918562230@qq.com 望多多指正</p>
            </li>
        </ul>
    </div>
    </section>

{% endblock %}