{% extends "blog/base.html" %}

{% block title %}
    <title>链接</title>
{% endblock %}

{% block content %}
    <section class="mysection" style="animation: fuxiasuo 0.8s;">
        <div class="info-naw">
            <h4 class="index-title">
                 <i class="el-certificate"></i>常用链接
            </h4>
            <ul>
                <li><a href="http://djangobook.py3k.cn/2.0/">the django book</a></li>
                <li><a href="https://kiwivm.64clouds.com/main.php">搬瓦工面板</a></li>
                <li><a href="https://www.cnblogs.com/liwenzhou">博客园lwz</a></li>
                <li><a href="https://www.cnblogs.com/Eva-j">博客园eva-J</a></li>
                <li><a href="https://account.aliyun.com/login/login.htm?oauth_callback=https%3A%2F%2Fhome.console.aliyun.com%2F%3Fspm%3D5176.8142029.388261.3.a7236d3eOc0ux7">阿里云</a></li>
            </ul>
        </div>
    </section>

{% endblock %}